$pale: #f0f3bd;
$lightgreen: #02c39a;
$persiagreen: #00a896;
$seaweed: #028090;
$seablue: #05668d;

body {
  background-image: url("./../../img/wov.png");
}

h1 {
  text-align: center;
  line-height: 200px;
  color: white;
  text-shadow: 1px 1px gray;
  font-size: 60px;
  display: inline-block;
  width: 80%;
  height: 180px;
  background-image: url("./../../img/wov.png");

}

.container {
  font-family: 'Taviraj', sans-serif;
  padding: 40px 80px;
  text-align: center;
  background-image: url("./../../img/cork-wallet.png");
  border: 2px solid $seablue;

  #username-find {
    background: $seablue;
    color: white;
    text-align:center;
  }

  #username-find:hover {
    background: $seaweed;
  }

  .showUser {
    margin-top: 20px;
  }
}
